body {
  width: 960px;
  margin: auto;
  color: #f6f6f6;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrapper {
  background-color: #0b618b;
}
.container {
  background-color: white;
  width: 100%;
  padding: 50px;
}

.topping {
  width: 20%;
}

h1 {
  display: block;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}

#score {
  background-color: #e1133b;
  font-size: 50px;
  padding: 10px;
}

#target {
  font-size: 50px;
  padding: 10px;
}

#line {
  background-color: #e1133b;
  height: 25px;
}

#wins,
#losses {
  background-color: #e1133b;
  padding: 10px;
}

#text {
  color: #777777;
  background-color: white;
  padding: 20px 0px;
}
